main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    background-color: #EBE9FA;
}

b > a {
    color: #000;
}

#container {
    width: 85%;
    height: 90%;
    border-radius: 30px;
    background-color: #fff;
}

#title {
    color: #6D4BDF;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 100px 0 70px 0;
}

#dance-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dance1,
#dance2,
#dance3 {
    width: 320px;
    height: 320px;
    margin: 0 20px;
    border-radius: 200px;
}
#dance1:hover,
#dance2:hover,
#dance3:hover {
    border: 8px solid #00f;
}

#dance1 {
    background-size: cover;
    background-image: url("../img/dance1.png");
}

#dance2 {
    background-size: cover;
    background-image: url("../img/dance2.png");
}

#dance3 {
    background-size: cover;
    background-image: url("../img/dance3.png");
}

#dance1-title,
#dance2-title,
#dance3-title {
    color: #4F4F4F;
    font-size: 1.5rem;
    margin-top: 360px;
    text-align: center;
}