main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    background-color: #EBE9FA;
}

b > a {
    color: #000;
}

#container {
    width: 85%;
    height: 90%;
    border-radius: 30px;
    background-color: #fff;
}

#title {
    color: #6D4BDF;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 100px 0 70px 0;
}

#exercise-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-item {
    width: 320px;
    margin: 0 20px; 
    text-align: center;
}

.exercise-item img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.exercise-item img:hover {
    border: 8px solid #00f;
}

.exercise-item p {
    margin-top: 10px;
    color: #4F4F4F;
    font-size: 1.5rem;
}